<div class="center jumbotron text-center">
  <h1>Welcome to BetaChat!</h1>

  <p>
    An app that has people talking . . .

  </p>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
</div>

