<% flash.each do |message_type, message| %>
  <% if (message_type == "timedout") %>
    <div class="alert alert-warning">
      Session Expired
      <button type="button" class="close" data-dismiss="alert">x</button>
    </div>
  <% elsif (message_type == "alert") %>
    <div class="alert alert-danger">
      <%= message %>
      <button type="button" class="close" data-dismiss="alert">x</button>
    </div>
  <% elsif (message_type == "notice") %>
    <div class="alert alert-info">
      <%= message %>
      <button type="button" class="close" data-dismiss="alert">x</button>
    </div>
  <% else %>
    <div class="alert alert-<%= message_type %>">
      <%= message %>
      <button type="button" class="close" data-dismiss="alert">x</button>
    </div>
  <% end %>
<% end %>
