<footer class="footer">
  <small>
    BC &copy <%= DateTime.now.year %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>

  <br/>
  <br/>
</footer>
